body {
    background-color: #FFECB3; 
}
.sidebar {
    background-color: #FFA726;
    height: 200%;
    padding: 20px;
}
.sidebar .nav-link {
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
}
.sidebar .nav-link:hover {
    color: #333;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding-left: 10px;
}
.sidebar img {
    width: 200px;
    border-radius: 5px;
    padding: 20px;
}
.content-area {
    background-color: #FFF8E1; 
    padding: 20px;
    border-radius: 8px;
}
.about-text {
    font-size: 1rem;
    color: #2f2e2e;
}
h2, h3 {
    color: #121111; 
}
img.img-fluid {
    border-radius: 5px;
}
.sidebar .nav-link:hover {
    color: #333;
    background-color: rgba(255, 255, 255, 0.3);
}

