body {
    background-color: #f9d48e;
    background-image: url('assets/bg.jpg');
    font-family: 'Arial', sans-serif;
}
.container {
    height: 100vh;
}
.custom-card {
    border-radius: 10px;
    background-color: #f8b650;
    max-width: 400px;
    width: 100%;
}
.custom-input {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    background-color: #f8f9fa;
}
.custom-btn {
    background-color: #f2a93f;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.custom-btn:hover {
    background-color: #f2a93f;
}
.form-label {
    font-weight: bold;
    color: #343a40;
}
@media (max-width: 576px) {
    .custom-card {
        padding: 20px;
    }
}
